html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
body{
    width: 144.1rem;
}
#main {
    width: 100%;
    height: 378.7rem;
    /* cursor: pointer;    */
}
#main #place__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main__container {
    width: 100%;
    height: 980px;
    position: relative;
    flex-shrink: 0;
}
.main__container .banner {
    box-sizing: border-box;
    padding-bottom: 0.1rem;
    width: 144.1rem;
    height: 924px;
    position: absolute;
    left: 0;
    top: 5.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #444444;    
    align-items: center;
    justify-content: center;
}
.banner_place {
    width: 144.1rem;
    height: 102.4rem;
    flex-shrink: 0;
}
.banner_place .banner__content {
    box-sizing: border-box;
    align-items: center;
    padding: 4.7rem 0rem 0.1rem 0rem;
    width: 100%;
    height: 100%;
    border: solid 0.1rem #000000;
    background-color: #ffffff; 
}
.banner__bground {
    background-image: url('./assets/img_about/about_banner.png');
    width: 144.1rem;
    height: 923px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1px #444444;
    border-bottom: #444444;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

}
.banner__text {
    background-color: rgb(216, 205, 205);
    background-color: rgba(216, 205, 205, 0.7);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.intro__1{
    margin: 0rem 0.4rem 2.6rem 0rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;   
}
.intro__2 {
    margin: 0rem 0.5rem 2.6rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 100;
    line-height: 1.2;
    font-style: italic;
    color: #444444;
    font-family: Fraunces, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;   
}
.intro__group {
    margin-bottom: 2.6rem;
    width: 100%;
    height: 37.5rem;
    position: relative;
    flex-shrink: 0;  
    text-align: center;
}
.intro__3 {
    width: 81.3rem;
    height: 17.1rem;
    position: absolute;
    left: 1.9rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2102272797;
    font-style: italic;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
}
.intro__4 {
    width: 81.3rem;
    height: 17.1rem;
    position: absolute;
    left: 0%;
    top: 20.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2102272797;
    font-style: italic;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
}
.intro__button {
    background-color: var(--white-color);
    height: 48px;
    padding: 0 32px;
    cursor: pointer;
    border: 2px solid #986042;
    border-radius: 8px;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    border: solid 0.1rem #444444;
    box-sizing: border-box;
    background-color: #a01f24;
    border-radius: 0.2rem;
    flex-shrink: 0;   
}
.intro__button:hover {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    border: solid 0.1rem #a01f24;
    white-space: nowrap;
    color: #a01f24;
    background-color: #f6f6f6;
    flex-shrink: 0;
}
#motivation {
    position: relative;
    height: 750px;
    display: flex;
    flex-direction: row;
}
.mtv__container {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 40px 60px 40px;
    align-items: center;
    justify-content: center;
}
.mtv__header {
    margin: 0rem 0.002rem 3.4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.mtv__slogan {
    margin: 0rem 0.002rem 3.4rem 0rem;
    max-width: 50.3528rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 100;
    line-height: 1.25;
    font-style: italic;
    color: #444444;
    font-family: Fraunces, 'Source Sans Pro';
    flex-shrink: 0;
}
.mtv__text {
    max-width: 51.195rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5555555556;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}
.mtv__img {
    margin: 0rem 0.002rem 3.4rem 0rem;
    height: 100%;
    border: solid 0.1rem #444444;
    box-sizing: border-box;
    flex-shrink: 0;    
}
.mtv__img-about {
    width: 72rem;
    height: 75.1043rem;
    position: relative;
    background-size: 122.939% 117.857%;
    background-position: -2.2961rem -6.1965rem;
    background-image: url('./assets/img_about/about_mtv.png');  
}
#reason {
    position: relative;
    height: 75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border: solid 0.1px #444444;
    background-color: #986042;
}
.reason__container {
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.reason__header {
    padding: 4rem 0rem 1rem 0rem ;
    margin-bottom: 1.8rem;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    justify-content: center;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.reason__content {
    box-sizing: border-box;
    padding: 0rem 6.6rem 6rem 6.3rem;
    flex-shrink: 0;
    width: 144.1rem;
    height: 75rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #a01f24;
}

.rs__quality {
    margin: 0rem 10.2rem 0.2rem 0rem;
    width: 35rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.img__quality {
    margin-bottom: 4.7rem;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}
.img__quality-mota {
    margin: 0rem 1rem 0rem 1rem;
    width: calc(100% - 2.2rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.quality__text {
    margin: 0rem 0rem 0.5rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    font-style: italic;
    color: #444444;
    font-family: Fraunces, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.quality__mota {
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}
.rs__person {
    margin: 0rem 10.2rem 0.2rem 0rem;
    width: 35rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.img__person {
    margin-bottom: 4.7rem;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}
.img__person-mota {
    margin: 0rem 1rem 0rem 1rem;
    width: calc(100% - 2.2rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.person__text {
    margin: 0rem 0rem 0.5rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    font-style: italic;
    color: #444444;
    font-family: Fraunces, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.person__mota {
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}

.rs__truth {
    margin: 0rem 10.2rem 0.2rem 0rem;
    width: 35rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.img__truth {
    margin-bottom: 4.7rem;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}
.img__truth-mota {
    margin: 0rem 1rem 0rem 1rem;
    width: calc(100% - 2.2rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.truth__text {
    margin: 0rem 0rem 0.5rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    font-style: italic;
    color: #444444;
    font-family: Fraunces, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.truth__mota {
    max-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0px;
}


